<div class="row">
  <div class="col-xs-12">
    <p *ngIf="error">{{ error }}</p>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Recipe Name</label>
            <input type="text" class="form-control" formControlName="name" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Recipe description</label>
            <textarea
              type="text"
              class="form-control"
              formControlName="description"
              rows="6"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Recipe image path</label>
            <input
              type="text"
              class="form-control"
              formControlName="imagePath"
              #imagePath
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" alt="{{ imagePath.value }}" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div>
            <h4>Recipe Ingredients</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="let ingredientControl of getControls(); let index = index"
            [formGroupName]="index"
            style="margin-top: 10px;"
          >
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col-xs-2">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteIngredient(index)"
              >
                X
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="addIngredient()"
              >
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>

      <hr />
      <div class="btn-toolbar">
        <button
          [disabled]="!recipeForm.valid"
          *ngIf="!editMode"
          class="btn btn-success"
          type="submit"
        >
          Add
        </button>
        <button
          [disabled]="!recipeForm.valid"
          *ngIf="editMode"
          class="btn btn-success"
          type="button"
          (click)="onUpdate()"
        >
          Update
        </button>
        <button class="btn btn-danger" (click)="onCancel()" type="button">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
